<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>THIS IS A PAGE FOR PALINDROMES CHECKING</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../public/css/style.css"
    />
  </head>
  <body>
    <div class="content">
      <header>
        <h1>Lets Check The Palindromes!</h1>
      </header>
      <form method="POST" id="myForm">
        <div class="div_1">
          <p id="error" hidden></p>
          <label class="input_">
            Input:<textarea id="phrase" name="phrase"></textarea>
          </label>
          <button type="submit" class="bt">Check</button>
        </div>
      </form>
      <ol id="attempts"></ol>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="../public/js/jq.js"></script>
      <footer>
        <p>Name:Xunzhi Li</p>
        <p>ID:10457500</p>
        <p>Gender:Male</p>
      </footer>
    </div>
  </body>
</html>
