<h1 id="page_02_h1">The Palindrome Results!</h1>
<main>
    {{#if condition}}
    <p class="success">Input String is : {{str}}</p>
    <p class="result">This is a palindrome string </p>
    {{else}}
    <p class="failure">{{str}}</p>
    <p class="result">This is not a palindrome string </p>
    {{/if}}
    <a href="/" class="input_link">Try another palindrome</a>
</main>